nav {
  position: absolute;
  top: 1rem;
  right: 0;
}

main {
  width: 960px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

article.bioContainer {
  width: 57.5%;
  float: right;
  margin-bottom: 3rem;
}

ul.socialList {
  margin-bottom: 1rem;
}

p.mailHeader {
  margin-bottom: .5rem;
}
